body {
    font-family: 'Lato', sans-serif;
}
h2,p,.readme-wrapper{
text-align: center;
}
a {
    text-decoration: none;
    color: red;
    }
a:hover{
  color: blue;
  font-weight: bold;
}
.boxes {
    display:block;
    margin: 5rem;
    padding: 5rem;
    border: 5px solid rgb(255, 89, 0);
    border-radius: 1rem;
    width: 30em;
    
}
#box1 {
    background-color: brown;
}
#box2 {
    background-color: burlywood;
}
#box3 {
    background-color: chocolate;
}
#box4 {
    background-color: crimson;
}